@charset "UTF-8";

@import "bootstrap.less";

@gutter: 15px;
@menu-color: @brand-danger;

.container-fluid {
  padding:0;
  &>.row {
    margin:0;
  }
}
// sidebar
#sidebar {
  color: #fff;
  background: #000;
  position: fixed;
  left:0;
  top:0;
  bottom:0;
  padding:0;
  #welcome {
    padding: @gutter;
  }
  .nav {
    margin:0;
    li {
      &.active {
        background: @menu-color;
        a {
          &:hover {
            background: none;
          }
        }
      }
      a {
        color: #fff;
        &:hover {
          background: lighten(@menu-color, 20%);
        }
      }
    }
  }
}

// main
#main {
  padding: @gutter;
}
